@model IEnumerable<MVC_Client.Models.Donar>

@{
    ViewData["Title"] = "Details";
}

<h1>Details of Donars</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DonorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfDonation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
           
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DonorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfDonation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
         
        </tr>
}
    </tbody>
</table>
<a class="btn btn-primary" asp-action="Index" asp-controller="Organization" >Back to Organizations List </a>
